@font-face {
  font-family: "Myriad Pro";
  src: local("PT Sans"), url("../fonts/MyriadPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: local("PT Sans"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}